<div class="root">
    <h1>
        Login
    </h1>
    <form (submit)="login($event)">
        <table>
          <tr>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Insert email address" id="email" />
            </mat-form-field>
          </tr>
          <tr>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Insert password" id="password" />
            </mat-form-field>
          </tr>
        </table>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </form>
</div>

